# Flask и сервер
Flask>=3.0.0
gunicorn==23.0.0
Werkzeug==3.0.6

# База данных
psycopg2-binary>=2.9.10
SQLAlchemy>=2.0.0  # Обновил до 2.x для полной поддержки async

# JWT и безопасность
PyJWT>=2.8.0
cryptography>=42.0.0  # Для дополнительной защиты